#description_bg {
    background-image: url("../../public/detailsImg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
    width: auto;
}

#description {
    display: grid;
    grid-template-rows: 50px 280px 50px;
    padding-left: 30px;
    padding-top: 20px;
    width: fit-content;
    animation: fade-in 1s;

}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#info_title {
    background-color: lightgrey;
    border-radius: 20px 20px 0 0;
    padding-left: 20px;
    padding-right: 20px;

}

#info {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    background-color: lightgray;
    padding-left: 20px;
    padding-right: 20px;
    
}

#featured_div2 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 30px;
    grid-column-gap: 20px;
    background-color: lightgray;
    border-radius: 0 0 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}