#background {
    height: fit-content;
}

#welcome {
    display: grid;
    grid-template-rows: 50px 200px;
    grid-row-gap: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

#welcome_tabs {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 20px;
    
    
}

#welcome_tabs button {
    background: none;
    /* border: none; */
    font-size: 20px;
    text-align: start;

}

#search_div {
    height: initial;
}

#welcome_content {
    height: fit-content;
}

#results_ul {
    list-style-type: none;
}

#featured_ul {
    list-style-type: none;
}

#likes {
    text-align: center;
}

#likes_icon {
    vertical-align: bottom;
}

#search_button {
    margin-top: 10px;
}